// Mixins and predefined values
@mixin checkmark-regular { // TODO: set vars for all these sizes (will need to recheck all other scss aswell)
    font-size: 11px;
    height: 17px;
    width: 17px;
}
@mixin checkmark-small {
    font-size: 9px;
    height: 14px;
    width: 14px;
}

@mixin label-size-regular {
    font-size: 16px;
}
@mixin label-size-small {
    font-size: 14px;
}

@mixin checkbox-input-height-small {
    height: 14px;
    width: 14px;
}
@mixin checkbox-input-height-regular {
    height: 17px;
    width: 17px;
}

@mixin checkbox-input-pseudos {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
}

.flatos-checkbox {
    position: relative;

    display: flex;
    align-items: center;

    &.centered { justify-content: center; }

    // Label
    label {
        margin: 3.5px 0 5px 5px;
        @include label-size-regular;
    }
    
    // Input and pseudo (before, after)
    input[type="checkbox"], input[type="radio"] {
        cursor: pointer;
        opacity: 1;
        @include checkbox-input-height-regular;

        &:hover {
            &:after { opacity: 1; outline: 1px solid focus-ring-color; outline: 1px solid -webkit-focus-ring-color; }
        }
        &:checked {
            &:before { background-color: #fff; }
            &:after { opacity: 1; color: $primary-black-dark; }
        }
        &:before {
            content: "";
            border: 1px solid $primary-grey;
            background-color: #fff;
            
            @include checkbox-input-height-regular;
            @include checkbox-input-pseudos;
        }
        &:after {
            content: "\f00c";
            font-weight: 900;
            font-family: "Font Awesome\ 5 Free";
            opacity: 0;
            color: $primary-grey;
            text-align: center;

            @include checkmark-regular;
            @include checkbox-input-pseudos;
        }
    }

    // Size variants
    &.flatos-checkbox-sm {
        label {
            @include label-size-small;
        }
        input[type="checkbox"], input[type="radio"] {
            @include checkbox-input-height-small;

            &:before { @include checkbox-input-height-small; }
            &:after { @include checkmark-small; }
        }
    }

    // Color variants
    &.flatos-checkbox-primary {
        input[type="checkbox"], input[type="radio"] {
            &:checked {
                &:before { background-color: $primary-brand; border-color: $primary-brand; }
                &:after { color: #fff; }
            }
        }
    }
    &.flatos-checkbox-info {
        input[type="checkbox"], input[type="radio"] {
            &:checked {
                &:before { background-color: $primary-info; border-color: $primary-info; }
                &:after { color: #fff; }
            }
        }
    }
    &.flatos-checkbox-success {
        input[type="checkbox"], input[type="radio"] {
            &:checked {
                &:before { background-color: $primary-success; border-color: $primary-success; }
                &:after { color: #fff; }
            }
        }
    }
    &.flatos-checkbox-warning {
        input[type="checkbox"], input[type="radio"] {
            &:checked {
                &:before { background-color: $primary-warning; border-color: $primary-warning; }
                &:after { color: #fff; }
            }
        }
    }
    &.flatos-checkbox-danger {
        input[type="checkbox"], input[type="radio"] {
            &:checked {
                &:before { background-color: $primary-danger; border-color: $primary-danger; }
                &:after { color: #fff; }
            }
        }
    }
    &.flatos-checkbox-dark {
        input[type="checkbox"], input[type="radio"] {
            &:checked {
                &:before { background-color: $primary-black; border-color: $primary-black; }
                &:after { color: #fff; }
            }
        }
    }
}