/*        CUSTOM UTILS       */

.pointer-events-none {
    pointer-events: none;
}

.bg-secondary-light {
    background-color: $secondary-light-color;
}

.display-5 {
    font-size: 2.45rem;
    font-weight: 300;
    line-height: 1.2;
}

.subtle-box-shadow {
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,.25);

    &.disperse-shadow {
        box-shadow:1px 1px 5px 1px rgba(0,0,0,.25);
    }
}

.child-el-blocks {
    > * {
        display: block;
    }    
}

.kbd {
    padding: .2rem .4rem;
    color: #fff;
    background-color: #212529;
    border-radius: .2rem;

    & > span, > strong {
        @extend .kbd;
    }
}
.kbd {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}