@import './color-vars';

/* FORMS */
.minimalistic-form {
    background: $primary-blue;
    
    label {
        color: white;
        font-weight: 200;
    }
    h3 {
        text-align: center;
        color: #fff;
    }
    .btn-light {
        font-weight: 600;
        color: $primary-blue;
    }
    .ForgetPwd {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }
}