@import 'resources/styles/shared/color-vars';
@import 'resources/styles/shared/typography-vars';

body {
  .dialog-modal-body {
    max-width: 450px;
    .dialog-header {
      .dialog-title {
        padding: 20px 28px 0px 28px;
        font-size: $title-size;
        font-weight: $title-weight;
      }
    }
    .dialog-inner {
      padding: 0 28px 20px 28px;
      .dialog-content {
        .dialog-list {
          ul {
            list-style-type: none;
            padding-left: 10px;
            li {
              font-weight: 500;
              &:before {
                font-weight: 400;
                margin-right: 2.5px;
                content: '-';
              }
            }
          }
        }
        .dialog-sub-text {
          font-size: $body-size;
          font-weight: $body-weight;
        }
      }
      .dialog-actions {
        margin: 20px 0 0 0;
        button {
          margin-left: 8px;
        }
      }
    }
  }
  .ms-Dialog-title {
    padding: 20px 28px 0px 28px;
    font-size: $title-size;
    font-weight: $title-weight;
  }
  .ms-Dialog-content {
    .ms-Dialog-subText {
      font-size: $body-size;
      font-weight: $body-weight;
    }
  }
}


.ping-poster {
  background: url("/images/corporate/ping-600x335-dark.png");
  background-size: cover;
  background-position: center;
}

/*        SCROLLBAR (react-scrollbar)    */
div#scrollbars-container > div:last-of-type > div {
  z-index: 1; //make it appear above the navbar
}

/*        CUSTOM TRANSPARENT HEADER      */
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  a {
    color: #999;
    transition: ease-in-out color .15s;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}


/*        EXTRA UTILS       */
.z-index-1 {
  z-index: 1;
}
.box-shadow { 
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}
.box-shadow-xs { 
  box-shadow: .25px .25px .5px .5px rgba(0, 0, 0, .1); 
}
.box-shadow-md {
  box-shadow: 0 1rem 2rem rgba(0,0,0,.5);
}
.overflow-hidden { 
  overflow: hidden; 
}
.flex-equal {
  & > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

@media (min-width: 768px) {
  .flex-md-equal {
    & > * {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      flex: 1;
    }
  }
}

/*        DUMMY DEVICES       */

.product-device {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 210px;
  height: 390px;

  background-color: #333;
  border-radius: 15px;

  transition: transform 1s ease-out;

  &:before {
    width: 98.15%;
    position: absolute;
    top: 2.5%;
    right: 1%;
    bottom: 5%;
    left: 1%;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 3.5px;
    transition: all 1s ease-out;
  }

  &.backdrop {
    top: 52%;
    left: 52%;
    background-color: rgba(0,0,0,.5);
  }

  &.doRotate {
    -webkit-transform: rotate(30deg);
    transform: 
      translate(-50%, -50%)
      matrix3d(
        .75,.01,0,-.0007,
        -0.2,1,0,-0.0002,
        0,0,1,0,
        0,0,0,1
      );

    &:before {
      width: 93%;
      left: 0;
    }
  }
}

.ball-container {
  position: absolute !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ball {
  position: absolute !important;
  border-radius: 100%;
  opacity: 0.3;
}

body .message-time {
  font-size: 10px;
}

body .message-profile-pic {
  width: 30px;
  height: 30px;
}

body .friends-profile-img {
  width: 50px;
  height: 50px;
}

body .profile-pic {
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 0px 1px #dee2e6;
          box-shadow: 0px 0px 0px 1px #dee2e6;
}

body .bg-rgba-white-90 {
    background: rgba(255, 255, 255, 0.8);
}

.input-group-sm > .form-control[type='file'] {
  min-height: calc(1.5em + .5rem + 7px);
}

//        ICONS             //
i.font-icon-md {
  font-size: 30px;
}

// Library adjustments
.badge {
  font-weight: 400 !important;
  border-radius: 0 !important;
  padding: .15rem .25rem .25rem .15rem !important;
}
.label-primary {
  color: $primary-blue !important;
  font-size: 16px !important;
}
.bg-primary-blue {
  background-color: $primary-blue !important;
}
.bg-primary-grey-dark {
  background-color: $primary-grey-dark !important;
}
.bg-primary-grey {
  background-color: $primary-grey !important;
}
.bg-primary-grey-light {
  background-color: $primary-grey-light !important;
}
i.ms-icon-regular, button.ms-icon-regular i {
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-top: 0px;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  flex-shrink: 0;
  color: $primary-blue;
}
.disabled .ms-Button {
  color: $primary-grey;
  pointer-events: none; 
  i {
    color: $primary-grey;
  }
}

//        ANIMATIONS        //
@keyframes sail1 { 
  0% { transform: translate(0,0); } 
  50% { transform: translate(-5rem, 3.9rem); }
  100% { transform: translate(-3rem, 1.9rem); }
}
@keyframes sail2 { 
  0% { transform: translate(0,0); } 
  50% { transform: translate(-3rem, 4.9rem); }
  100% { transform: translate(-1.55rem, 2.5rem); }
}
@keyframes sail3 { 
  0% { transform: translate(0,0); } 
  50% { transform: translate(-3rem, 4.9rem); }
  100% { transform: translate(0.25rem, 2rem); }
}
@keyframes sail4 { 
  0% { transform: translate(0,0); } 
  50% { transform: translate(-2rem, 4.9rem); }
  100% { transform: translate(-0.8rem, -3.9rem); }
}
@keyframes sail5 { 
  0% { transform: translate(0,0); } 
  50% { transform: translate(-2rem, -1.9rem); }
  100% { transform: translate(3.1rem, 0rem); }
}
@keyframes sail6 { 
  0% { transform: translate(0,0); } 
  50% { transform: translate(4rem, 4.9rem); }
  100% { transform: translate(-2.5rem, 2.2rem); }
}