.avatar-container {
    &.default-avatar {
        padding-top: 0;
    }

    .avatar-wrap {
        margin-right: 10rem;
        padding: 5px;
        background: #fff;
        
        &:hover {
            .btn-option {
                visibility: visible;
            }
        }
    }
    .btn-option {
        visibility: hidden;
    }

    .avatar-img {
        background-size: cover;
        background-position: center;
        width: 200px;
        height: 200px;

        &.loading-div-bg {
            &:before {
                font-weight: 900;
                color: #fff;
                font-size: 2rem;
                
                animation-duration: 1500ms;
                -webkit-animation-duraion: 1500ms;
                -moz-animation-duration: 1500ms;
            }
        }

        &.small {
            height: 100px;
            width: 100px;
        }

        &.extra-small {
            height: 50px;
            width: 50px;
        }
    }
}
  
.cover-container {
    width: 100%;
    position: relative;
    .cover-wrap {
        &:hover {
            .btn-option {
                visibility: visible;
            }
        }

        .btn-option {
            visibility: hidden;
        }

        &.default-cover {
            .cover-img {
                height: 250px;
            }
        }

        .cover-img {
            height: 400px;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            width: 100%;
            position: absolute;

            
            &.loading-div-bg {
                &:before {
                    font-weight: 900;
                    color: #fff;
                    font-size: 2rem;
                    
                    animation-duration: 1500ms;
                    -webkit-animation-duraion: 1500ms;
                    -moz-animation-duration: 1500ms;
                }
            }
        }
    }
}
