@import '../../../../resources/styles/shared/color-vars';

.ms-SearchBox {
    width: 250px;
    padding-left: 0;
}

.table {
    thead {
        th.list-col {
            padding: .35rem;
            vertical-align: middle;
            font-weight: 400;
            border: none;
        }

        .list-item-select {
            &.ms-Checkbox {
                label {
                    margin-bottom: 0;
                    .ms-Checkbox-checkbox {
                        width: 17px;
                        height: 17px;
                        border-color: $primary-grey-dark;
                    }
                }
            }
        }
    }
    tbody {
        tr.list-row {
            &:hover {
                background-color: $primary-grey-light;
            }
    
            td.list-col {
                padding: .35rem;
                vertical-align: middle;

                &:hover {
                    .list-item-select {
                        &.ms-Checkbox {
                            opacity: 1 !important;
                        }
                    }
                }

                &.filename-col {
                    a {
                        color: #212529;
                    }
                }
                .file-more-context {
                    i.ms-Button-menuIcon {
                        display: none;
                    }
                }

                .list-item-file {    
                    min-width: 23px;
                    min-height: 25px;
                    font-size: 16px;
                    text-align: center;
                }

                .list-item-select {
                    &.ms-Checkbox {
                        &:not(.is-checked) {
                            opacity: 0;
                        }
                        label {
                            margin-bottom: 0;
                            .ms-Checkbox-checkbox {
                                width: 17px;
                                height: 17px;
                                border-color: $primary-grey-dark;
                            }
                        }
                    }
                }
                
            }
        }
    }
}