@import 'resources/styles/fonts';
@import 'resources/styles/shared/color-vars';
@import 'resources/styles/shared/custom-utils';
@import 'resources/styles/template';

body {
  margin: 0;
  padding: 0;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    .full-window {
      width: 100vw !important;
      height: 100vh !important;
    }
    .root-inner-wrap {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .root-main-content {
      flex-grow: 1;
    }
  }
}
