@import 'resources/styles/fonts';
@import 'resources/styles/shared/color-vars';
@import 'resources/styles/shared/custom-utils';

body {
  margin: 0;
  padding: 0;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}